@page
@model IndexModel
<html>
<h1>Types of Muisc</h1>
<ul>
    <li>Pop Rock</li>
    <li>Rhytm Blues</li>
    <li>Pop Music</li>
    <li>Jazz</li>
    <li>Folk Music</li>
    <li>Dance Music</li>
</ul>
<article>
<h1>Favourite Muisc</h1>
<p>I really like Dance music because it has very high beats and it helps to lift my mood up.</p>
</article>



</html>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
